### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [59]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csvpath = "Resources/purchase_data.csv"
#print(csvpath)

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csvpath)
#purchase_data.head()

## Player Count

* Display the total number of players

In [60]:
# Use unique of list to remove the dupicate screen names "SN" and use len to get the number of total players.
unique_cnts = len(purchase_data["SN"].unique())

print("Total players")
print("--------------")
unique_cnts

Total players
--------------

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
# Use set to remove the dupicate items "Item ID" and use len to get the total of unique items.
number_of_unique_items = len(set(purchase_data["Item ID"]))

# Use mean to calculate the average price of purchases
average_price = (purchase_data["Price"]).mean()

# User count to get the times of purchases
number_of_purchases = (purchase_data["Purchase ID"]).count()

# Use sum to get the total revenue of purchases
total_revenue = (purchase_data["Price"]).sum()

# Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items], \
                           "Average Price":[average_price], \
                           "Number of Purchases": [number_of_purchases], \
                           "Total Revenue": [total_revenue]})

# Format to rount to 2 decimals
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

#summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [62]:
# Use groupby of "Gender" to separate femal players from male players
gender_stats = purchase_data.groupby("Gender")

# Get the total of each gender after removing the duplicate screen names "SN"
total_count_gender = gender_stats.nunique()["SN"]

# Calculate percentage of each gender out of total players 
percentage_of_players = (total_count_gender / total_players) * 100
 
# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Total Count": total_count_gender, "Percentage of Players": percentage_of_players})

# Present the results in descending order of total count, and rount to 2 digits after the decimal point
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
# Count the number of purchases by each gender 
purchase_count_gender = gender_stats["Purchase ID"].count()

# Calculte average purchase price by each gender
avg_purchase_price_gender = gender_stats["Price"].mean()

# Calculate the total amount of purchases by each gender 
purchase_total_gender = gender_stats["Price"].sum()

# Calculate Average purchase by each individual gender
avg_purchase_per_person_gender = purchase_total_gender/total_count_gender

# Create a summary data frame to hold the results 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count_gender, 
                                    "Average Purchase Price": avg_purchase_price_gender,
                                    "Total Purchase Value": purchase_total_gender,
                                    "Avg Purchase Total per Person": avg_purchase_per_person_gender})

# Present the results and rount to 2 digits after the decimal point
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
# Establish bins of 4 years for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_category = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment ages by age category and add one column called "Age Category" for age category  
purchase_data["Age Category"] = pd.cut(purchase_data["Age"],age_bins, labels=age_category)
purchase_data

# Use groupby of "Age Category" to group ages
age_grouped = purchase_data.groupby("Age Category")

# Get the total number of each age category after removing the duplicate screen names "SN"
total_count_age = age_grouped["SN"].nunique()

# Calculate percentage of each individual age category 
percentage_of_players = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_of_players})

# Format percentage to round to two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
# Count how many times the purchases have been made by age category
purchase_count_age = age_grouped["Purchase ID"].count()

# Calculate average purchase price by age category 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate the total amount of purchases by age category 
total_purchase_age = age_grouped["Price"].sum()

# Calculate the average purchase per player in the age category 
avg_purchase_per_person_age = total_purchase_age/total_count_age

# Create a summary data frame to hold the results
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_age,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format dollar amount to round to two decimal places  
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:
# Use groupby of "SN" to group each SN player
spender_sn = purchase_data.groupby("SN")

# Count how many times the purchases have been done by each SN player
purchase_count_sn = spender_sn["Purchase ID"].count()

# Calculate the average price by each SN player 
avg_purchase_price_sn = spender_sn["Price"].mean()

# Calculate the total amount of purchases by each SN player 
purchase_total_sn = spender_sn["Price"].sum()

# Create a summary data frame to hold the results
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_sn,
                             "Average Purchase Price": avg_purchase_price_sn,
                             "Total Purchase Value":purchase_total_sn})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format dollar amount to round to two decimal places
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
# Create new data frame with  Item ID, Item Name, and Item Price columns 
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Use groupby of "Item ID" &"Item Name" to group each Item 
item_group = items_df.groupby(["Item ID","Item Name"])

# Count how many times items have been purchased 
purchase_count_item = item_group["Price"].count()

# Calcualte the total amount of purchase per item 
purchase_total_item = (item_group["Price"].sum()) 

# Find each individual item price
item_price = purchase_total_item/purchase_count_item

# Create a summary data frame to hold the results
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value": purchase_total_item})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted_df = most_popular_items_df.sort_values(["Purchase Count"], ascending=False).head()

# Format dollar amount to round to two decimal places
popular_formatted_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [78]:
# Sort the most_popular items data frame in descending order to see the highest total purchase value
popular_formatted_df = most_popular_items_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Format dollar amount to round to two decimal places
popular_formatted_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})